*{
    margin: 0;
    padding: 0;
}

header{
    background-color: saddlebrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar .menu{
    display: flex;
    align-items: center;
    height: 70px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding-right: 50px;
}

h1{
    margin-left: 60px;
}

section{
    margin-right: 100px;
    display: flex;
}

.MuiSvgIcon-root{
    padding-left: 30px;
}




